body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;

}

.header-container {
    display: flex; 
    align-items: center;
    gap: 10px;
   
    position: absolute;
    left: 5%;  /* Flytta till höger 20% av skärmen */
    top: 6%;   /* Flytta ner 20% av skärmen */

}

small {
    margin-top: 10px
}